#message-Div {
    font-size: 40px;
    display: inline-block;
    margin-left: 5em;
    margin-top: 30px;
    max-width:100%;
    opacity: .75;
    vertical-align:top;

}

@media (max-width:500px) {
    #message-Div{
        margin-left:auto;
    }
}